<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>add page</title>
</head>
<body>
    <h1>This is Lists</h1>
    <ol>
        <% for(var i=0; i<topics.length; i++) { %>
            <li><%= topics[i].title %> : <%= topics[i]. description %> </li>
            <% } %>
    </ol>
    <article>
        <form method="POST" action="/topic/add">
            <p>제목 : <input type="text" name="title" value="" placeholder="타이틀을 입력하세요"/></p>
            <p>내용 : <input type="text" name="description" value="" placeholder="내용을 입력하세요"/></p>
            <p>작가 : <input type="text" name="author" value="" placeholder="작가를 입력하세요"/></p>
            <p><input type="submit" value="제출"/></p>
        </form>
    </article>
</body>
</html>